*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;

}
body{
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
	background:whitesmoke;

}
h2{
	font-size:3em;
	color:#e94d58;
	margin:15px 0;


}
.btn-group{
	width:100%;
	height:40px;
	display:flex;
	justify-content:center;
	margin-top:50px;
}
button{
	position:absolute;
	width:200px;
	height:interit;
	font-size:1.2em;

}

button:nth-child(1){
	margin-left:-200px;
	background:hotpink;
	color:white;
	border-radius:30px;
	font-size:1.2em3;
	out-line:none;
	border:2px solid deeppink ;
	border-shadow: 0 2px 4px gray ;
	


}
button:nth-child(2){
	margin-right:-200px;
	background:hotpink;
	color:white;
	border-radius:30px;
	font-size:1.2em3;
	out-line:none;
	border:2px solid deeppink ;
	border-shadow: 0 2px 4px gray ;
}
.question{
 color:hotpink;
}
.gif{
	width:100%;
}

